## **Cricket player performance prediction using ML**

#### Predicting Performance(Strike Rate) of batsman

In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [100]:
data_bat = pd.read_csv("bat.csv")
data_bat.head()

,Unnamed: 0,name_x,playing_role,id,order,runs_x,balls,strike_rate,fours,sixes,...,matchtype,series_id,match_detail_id,title,runs_y,over,run_rate,match_id,opp_team_id,team_id
0,13463,Tapash Baisya,NaN,13464,9,7,5,140.00,1,0,...,odi,182,773,Bangladesh Innings,234,50.0,4.68,633,2,7
1,13462,Khaled Mahmud,NaN,13463,8,21,17,123.52,3,0,...,odi,182,773,Bangladesh Innings,234,50.0,4.68,633,2,7
2,13459,Rajin Saleh,NaN,13460,5,14,28,50.00,1,0,...,odi,182,773,Bangladesh Innings,234,50.0,4.68,633,2,7
3,13461,Mushfiqur Rahman,NaN,13462,7,2,6,33.33,0,0,...,odi,182,773,Bangladesh Innings,234,50.0,4.68,633,2,7
4,13458,Aftab Ahmed,NaN,13459,4,30,49,61.22,2,1,...,odi,182,773,Bangladesh Innings,234,50.0,4.68,633,2,7

In [101]:
data_bat.shape

(52492, 28)

In [102]:
data_bat.columns

Index(['Unnamed: 0', 'name_x', 'playing_role', 'id', 'order', 'runs_x',
       'balls', 'strike_rate', 'fours', 'sixes', 'how_out', 'fall_of_wicket',
       'fall_of_wicket_over', 'player_id', 'scorecard_id', 'match_number',
       'name_y', 'start_date', 'matchtype', 'series_id', 'match_detail_id',
       'title', 'runs_y', 'over', 'run_rate', 'match_id', 'opp_team_id',
       'team_id'],
      dtype='object')

In [103]:
data_bat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52492 entries, 0 to 52491
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           52492 non-null  int64
 1   name_x               52492 non-null  object
 2   playing_role         50949 non-null  object
 3   id                   52492 non-null  int64
 4   order                52492 non-null  int64
 5   runs_x               52492 non-null  int64
 6   balls                52492 non-null  int64
 7   strike_rate          52492 non-null  float64
 8   fours                52492 non-null  int64
 9   sixes                52492 non-null  int64
 10  how_out              52483 non-null  object
 11  fall_of_wicket       44 non-null     float64
 12  fall_of_wicket_over  52492 non-null  float64
 13  player_id            52492 non-null  int64
 14  scorecard_id         52492 non-null  int64
 15  match_number         51857 non-null  float64
 16  name_y               52479 non-null  object
 17  start_date           52492 non-null  object
 18  matchtype            52455 non-null  object
 19  series_id            52492 non-null  int64
 20  match_detail_id      52492 non-null  int64
 21  title                52492 non-null  object
 22  runs_y               52492 non-null  int64
 23  over                 52492 non-null  float64
 24  run_rate             52492 non-null  float64
 25  match_id             52492 non-null  int64
 26  opp_team_id          52492 non-null  int64
 27  team_id              52492 non-null  int64
dtypes: float64(6), int64(15), object(7)
memory usage: 11.2+ MB

In [104]:
data_bat.isna().sum()

Unnamed: 0                 0
name_x                     0
playing_role            1543
id                         0
order                      0
runs_x                     0
balls                      0
strike_rate                0
fours                      0
sixes                      0
how_out                    9
fall_of_wicket         52448
fall_of_wicket_over        0
player_id                  0
scorecard_id               0
match_number             635
name_y                    13
start_date                 0
matchtype                 37
series_id                  0
match_detail_id            0
title                      0
runs_y                     0
over                       0
run_rate                   0
match_id                   0
opp_team_id                0
team_id                    0
dtype: int64

In [105]:
data_bat.drop(["match_detail_id","playing_role","id","player_id","scorecard_id","start_date","match_id","opp_team_id","team_id","title","name_x","name_y","order","how_out","fall_of_wicket","series_id"],axis = 1, inplace=True)
data_bat.head()

,Unnamed: 0,runs_x,balls,strike_rate,fours,sixes,fall_of_wicket_over,match_number,matchtype,runs_y,over,run_rate
0,13463,7,5,140.00,1,0,0.0,1.0,odi,234,50.0,4.68
1,13462,21,17,123.52,3,0,47.3,1.0,odi,234,50.0,4.68
2,13459,14,28,50.00,1,0,38.1,1.0,odi,234,50.0,4.68
3,13461,2,6,33.33,0,0,41.6,1.0,odi,234,50.0,4.68
4,13458,30,49,61.22,2,1,28.4,1.0,odi,234,50.0,4.68

In [106]:
data_bat["matchtype"].unique()

array(['odi', 'test', 't20', nan], dtype=object)

In [107]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data_bat["matchtype_encoded"] = label_encoder.fit_transform(data_bat["matchtype"])
data_bat.drop("matchtype",axis=1,inplace=True)
data_bat.head()

,Unnamed: 0,runs_x,balls,strike_rate,fours,sixes,fall_of_wicket_over,match_number,runs_y,over,run_rate,matchtype_encoded
0,13463,7,5,140.00,1,0,0.0,1.0,234,50.0,4.68,0
1,13462,21,17,123.52,3,0,47.3,1.0,234,50.0,4.68,0
2,13459,14,28,50.00,1,0,38.1,1.0,234,50.0,4.68,0
3,13461,2,6,33.33,0,0,41.6,1.0,234,50.0,4.68,0
4,13458,30,49,61.22,2,1,28.4,1.0,234,50.0,4.68,0

In [108]:
data_bat_new = data_bat.iloc[:, 1:]
data_bat_new.head()

,runs_x,balls,strike_rate,fours,sixes,fall_of_wicket_over,match_number,runs_y,over,run_rate,matchtype_encoded
0,7,5,140.00,1,0,0.0,1.0,234,50.0,4.68,0
1,21,17,123.52,3,0,47.3,1.0,234,50.0,4.68,0
2,14,28,50.00,1,0,38.1,1.0,234,50.0,4.68,0
3,2,6,33.33,0,0,41.6,1.0,234,50.0,4.68,0
4,30,49,61.22,2,1,28.4,1.0,234,50.0,4.68,0

In [109]:
data_y = data_bat_new["strike_rate"]
data_x = data_bat_new.drop("strike_rate", axis=1)

In [110]:
data_x.head()

,runs_x,balls,fours,sixes,fall_of_wicket_over,match_number,runs_y,over,run_rate,matchtype_encoded
0,7,5,1,0,0.0,1.0,234,50.0,4.68,0
1,21,17,3,0,47.3,1.0,234,50.0,4.68,0
2,14,28,1,0,38.1,1.0,234,50.0,4.68,0
3,2,6,0,0,41.6,1.0,234,50.0,4.68,0
4,30,49,2,1,28.4,1.0,234,50.0,4.68,0

In [111]:
data_x.isna().sum()

runs_x                   0
balls                    0
fours                    0
sixes                    0
fall_of_wicket_over      0
match_number           635
runs_y                   0
over                     0
run_rate                 0
matchtype_encoded        0
dtype: int64

In [112]:
mean_value = data_x["match_number"].mean()
data_x["match_number"].fillna(mean_value,inplace=True)
data_x.shape

(52492, 10)

In [113]:
print(data_y.head())
print(data_y.shape)

0    140.00
1    123.52
2     50.00
3     33.33
4     61.22
Name: strike_rate, dtype: float64
(52492,)

In [114]:
print(data_x.isna().sum())
print(data_y.isna().sum())

runs_x                 0
balls                  0
fours                  0
sixes                  0
fall_of_wicket_over    0
match_number           0
runs_y                 0
over                   0
run_rate               0
matchtype_encoded      0
dtype: int64
0

In [115]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [116]:
x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size= 0.3)

In [117]:
LR =LinearRegression()
LR.fit(x_train,y_train)

LinearRegression()

In [118]:
LR.score(x_train,y_train)

0.43654114249832343

In [119]:
LR.predict(x_test)

array([ 86.26873763,  97.20717112,  86.02153682, ..., 120.91307265,
        39.18508467,  60.71969379])

In [120]:
LR.score(x_test,y_test)

0.4434614522827697